body {
    font-family: sans-serif;
    background: #424549;
    color: white;
}

main {
    min-height: 100vh;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover:not(.brand) {
    color: #DDDDDD;
    cursor: pointer;
}

nav {
    background: #36393e;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 1rem;
}

.brand {
    font-size: 2rem;
    font-weight: bold;
    color: #B0413E;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

footer {
    background: #36393e;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.75rem;
}