@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    font-family: sans-serif;
    background: #424549;
    color: white;
}

main {
    min-height: 100vh;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover:not(.brand) {
    color: #DDDDDD;
    transition: .5s;
    cursor: pointer;
}

nav {
    background: #36393e;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 1rem;
}

.brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: #B0413E;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

footer {
    background: #36393e;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.75rem;
}

.serie-list {
    display: flex;
    flex-wrap: wrap;
}

.serie-list article {
    text-align: center;
    font-family: inherit;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

article {
    position: relative;
    padding: .75rem;
}

article div {
    position: absolute;
    display: none;
    top: calc(50% - 1.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

article a img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

article:hover a img {
    transform: scale(85%);
    transition: .5s;
    filter: grayscale(100%);
    opacity: 10%;
    cursor: pointer;
}

article:hover div {
    display: flex;
    cursor: pointer;
}

.information {
    font-family: 'Fjalla One', sans-serif;
    color: #DDDDDD;
}

.detail {
    display: flex;
}

.detail .infos {
    margin-left: 1.5rem;
}

.infos {
    font-size: 1.25rem;
}

.infos div:first-child {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}