{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <h1>Edit a serie</h1>
    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Edit a serie</button>
    {{ form_end(serieForm) }}
{% endblock %}