<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Series{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/series.ico') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    </head>
    <body>
        <header>
            {{ include('menu/nav.html.twig') }}
        </header>

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include('menu/footer.html.twig') %}
        </footer>
    </body>
</html>
